{% extends "base.html" %} {% block title %}Homepage{% endblock %} {% block
content %}
<h1 class="text-center">Blogly Recent Posts</h1>

{% for post in newest_posts %}
<div class="text-center m-5">
  <h2>{{post.title}}</h2>
  <p id="post-content">{{post.content}}</p>
  <p>
    By: <a href="/users/{{post.user.id}}">{{post.user.get_full_name()}}</a> on
    {{post.created_at.strftime('%a %b %d %Y, %H:%M %p')}}
  </p>
  {% if post.post_tags %}
  <p>
    Tags: {% for post_tag in post.post_tags %}
    <span class="p-1 bg-primary text-white rounded">
      {{post_tag.tags.name}}</span
    >
    {% endfor %}
  </p>
  {% endif %}
</div>
{% endfor %} {% endblock%}
