{% extends "base.html" %} {% block title %}New User Form{% endblock %} {% block
content %}
<h1 class="text-center">Add New User</h1>
<form class="container" action="/users/new" method="POST">
  <div>
    <label for="first-name">First Name:</label>
    <input
      class="form-control"
      type="text"
      id="first-name"
      name="first_name"
      required
    />
  </div>
  <div>
    <label for="last_name">Last Name:</label>
    <input
      class="form-control"
      type="text"
      id="last_name"
      name="last_name"
      required
    />
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input class="form-control" type="text" id="image_url" name="image_url" />
  </div>
  <div>
    <button class="btn btn-primary mt-2">Add User</button>
  </div>
</form>

{% endblock%}
